<footer>
    <section class="pieofertas">
      <h4>Ofertas de vacaciones</h4>
      <p>
        Salir de nuestra rutina es esencial para poder desconectar de
        nuestro día a día y realizar un viaje es la mejor manera de coger
        aire, respirar fuera de nuestro entorno para sentir en cada destino
        el latir y el ritmo de la vida.
      </p>
      <p>
        Aprovechar las ofertas de vacaciones para realizar una parada en
        nuestra rutina nos permite sumergirnos en el descubrimiento de un
        nuevo destino que nos proporcionará una nueva aventura a nuestra
        vida o nos permitirá volver a vivir la experiencia de viajar de
        nuevo a nuestro destino favorito.
      </p>
      <p>
        Podemos aprovechar una oferta de viajes para realizar una escapada
        de pocos días que nos permita desconectar como realizar un gran
        viaje y profundizar en la cultura y forma de vida del destino que
        visitamos.
      </p>
    </section>
    <section class="pielegales">
      <h4>Condiciones</h4>
      <p>
        Precios “desde” por persona y estancia (excepto indicado) en
        ocupación doble (salvo indicado) y régimen de alojamiento (excepto
        indicado) y para hoteles precios "desde" por persona y noche
        (excepto indicado) en ocupación doble (salvo indicado) en régimen de
        alojamiento (excepto indicado). Consulta estancia mínima de cada
        establecimiento. Plazas limitadas. Consulta condiciones.
      </p>
      <p>
        Pago en 3 meses: con tu Tarjeta El Corte Inglés. Financiación
        ofrecida por Financiera El Corte Inglés, E.F.C., S.A. y sujeta a su
        aprobación. Consulta condiciones en <a href="https://www.viajeselcorteingles.es/financiacion-online">Viajes El Corte Inglés</a>
      </p>
    </section>
  </footer>
