<header>
    <div class="a">
      <img
        src="https://www.viajeselcorteingles.es/imagen/it/logo_veci_h_sin_claim.png"
        alt="logo"
        width="248"
        height="54"
      />
      <section class="info">
        <span class="material-symbols-outlined"> home </span>
        <p class="cita">Agencias y cita previa |</p>
        <span class="material-symbols-outlined"> contact_support </span>
        <p class="ayuda">Centros de ayuda |</p>
        <span class="material-symbols-outlined"> person </span>
        <p class="usr">Identifícate |</p>
        <span class="material-symbols-outlined"> call </span>
        <p class="tel">91 33 00 732</p>
      </section>
    </div>
    <div class="b">
      <nav class="opciones-b">
        <ul>
          <li class="menu">
            <a href="#">MENÚ &#9776;</a>
            <ul class="menu-contenido">
              <li><a href="https://www.viajeselcorteingles.es/hoteles-costa-playas" target="_blank">Costas</a></li>
              <li><a href="https://www.viajeselcorteingles.es/especiales/navidad" target="_blank">Navidad</a></li>
              <li><a href="https://www.viajeselcorteingles.es/semana_santa" target="_blank">Semana Santa</a></li>
              <li><a href="https://www.viajeselcorteingles.es/hoteles-islas" target="_blank">Islas</a></li>
              <li><a href="https://www.viajeselcorteingles.es/escapadas" target="_blank">Escapadas</a></li>
              <li><a href="https://www.viajeselcorteingles.es/vuelo-mas-hotel" target="_blank">Vuelo+Hotel</a></li>
              <li><a href="https://www.viajeselcorteingles.es/circuitos" target="_blank">Circuitos</a></li>
              <li><a href="https://www.viajeselcorteingles.es/cruceros" target="_blank">Crucero</a></li>
              <li><a href="https://www.viajeselcorteingles.es/ofertas-vacaciones" target="_blank">Ofertas</a></li>
              <li><a href="https://www.viajeselcorteingles.es/esqui" target="_blank">Esquí</a></li>
              <li><a href="https://www.viajeselcorteingles.es/hoteles" target="_blank">Hoteles</a></li>
              <li><a href="https://www.viajeselcorteingles.es/parques-tematicos" target="_blank">Parque temáticos</a></li>
              <li><a href="https://www.viajeselcorteingles.es/vuelos/" target="_blank">Vuelos</a></li>
              <li><a href="https://www.viajeselcorteingles.es/especiales/ofertas-grandes-viajes" target="_blank">Grandes Viajes</a></li>
              <li><a href="https://www.viajeselcorteingles.es/viajes-por-europa" target="_blank">Viajes por Europa</a></li>
              <li><a href="https://www.viajeselcorteingles.es/especiales/viajes-al-caribe" target="_blank">Caribe</a></li>
              <li><a href="https://www.viajeselcorteingles.es/mayores" target="_blank">Jovenes</a></li>
              <li><a href="https://www.viajeselcorteingles.es/trenes/" target="_blank">Trenes</a></li>
              <li><a href="https://www.viajeselcorteingles.es/viajes-novios" target="_blank">Novios</a></li>
            </ul>
          </li>
          <li><a href="https://www.viajeselcorteingles.es/especiales/viajes-al-caribe" target="_blank">CARIBE</a></li>
          <li><a href="https://www.viajeselcorteingles.es/vuelo-mas-hotel" target="_blank">VUELO+HOTEL</a></li>
          <li><a href="https://www.viajeselcorteingles.es/hoteles-islas" target="_blank">ISLAS</a></li>
          <li><a href="https://www.viajeselcorteingles.es/cruceros" target="_blank">CRUCEROS</a></li>
          <li><a href="https://www.viajeselcorteingles.es/ofertas-vacaciones" target="_blank">OFERTAS</a></li>
          <li><a href="https://www.viajeselcorteingles.es/disneyland" target="_blank">DISNEY</a></li>
          <li><a href="https://www.viajeselcorteingles.es/portaventura" target="_blank">PORTAVENTURA</a></li>
          <li><a href="https://www.viajeselcorteingles.es/hoteles" target="_blank">HOTELES</a></li>
          <li><a href="https://www.viajeselcorteingles.es/vuelos/" target="_blank">VUELOS</a></li>
          <li><a href="https://www.viajeselcorteingles.es/mayores" target="_blank">JOVENES+60</a></li>
        </ul>
      </nav>
    </div>
    <div class="c">
      <ul>
        <li>
          <a href="https://www.viajeselcorteingles.es/particulares.html"
            >Inicio</a
          >
        </li>
        <li>&gt;</li>
        <li>Ofertas Vacaciones</li>
      </ul>
    </div>
    <div class="d">
      <div class="opcion">Zona <span></span></div>
      <div class="opcion">Duración <span></span></div>
      <div class="opcion">Régimen alimenticio <span></span></div>
      <div class="opcion">Experiencia <span></span></div>
      <div class="opcion">Viajero <span></span></div>
      <div class="opcion">Tipo de viaje <span></span></div>
      <div class="opcion">Precios <span></span></div>
    </div>
    <div class="separator"></div>
  </header>
